<!DOCTYPE html>
<html layout:decorate="~{/layout/administrador}">
<head>
<meta charset="UTF-8">
<title>SisUPA - Cadastro de Especialidades</title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-inverse navbar-dark bg-dark">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand ">Cadastrar Especialidades</a>
				</div>
			</div>
		</nav>

		<div class="main-content" id="cadastro">
			<div th:replace="fragments/alert"></div>
			<form action="" object="">
				<div class="row">
					<div class="col">
						<div class="input-group mb-3">
							<span class="input-group-text" id="basic-addon1">Nome da
								Especialidade</span> <input type="text" class="form-control"
								aria-label="Nome" aria-describedby="basic-addon1" id="nome"
								field="">
						</div>
					</div>
				</div>

				<br /> <input type="hidden" id="id" field="" />
				<button type="submit" class="btn btn-success">Cadastrar</button>

			</form>
		</div>

	</section>
</body>
</html>