<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Agendamento</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- Bootstrap core CSS -->
<link rel='stylesheet'
	th:href='@{/webjars/bootstrap/css/bootstrap.min.css}'>
<link rel='stylesheet'
	th:href='@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}'>
<!-- Custom styles for this template -->
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body class="fundo-padrao">
	<header th:replace="fragments/header :: cabecalho">
		<div>header</div>
	</header>

	<div class="login-main">
		<div class="collapse-menu-adm">
			<h3>Login - Administrador</h3>
			<p></p>
			<div th:replace="fragments/alert"></div>
			<form method="post" th:action="@{/login/administrador/entrar}" th:object="${acesso}">
				<div class="mb-3">
					<label for="nome" class="form-label">CPF</label> <input type="text"
						class="form-control" id="cpf" aria-describedby="emailHelp"
						th:field="*{cpf}" data-mask="000.000.000-00">
					<div id="emailHelp" class="form-text">Nunca compartilhe as
						suas informações de login.</div>
				</div>
				<div class="mb-3">
					<label for="senha" class="form-label">Senha</label> <input
						type="password" class="form-control" id="senha"
						th:field="*{senha}">
				</div>
				<div class="mb-3 form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Lembrar-me</label>
				</div>
				<button type="submit" class="btn btn-dark" th:id="${1}">Entrar</button>
			</form>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		var popover = new bootstrap.Popover(element, {
			popperConfig : function(defaultBsPopperConfig) {
				popover.show()

			}
		})
	</script>
</body>
</html>